#town_planner(ng-controller="PlannerCtrl")
  %input(type="hidden" id="town_id" value="#{@town.id}")

  %h4 Town Planner

  =render partial: "towns/nav"
  %br

  %ul#planner_menu
    %li(ng-repeat="mode in planner.modes")
      %button(ng-class="{active: planner.mode == mode}" ng-click="planner.set_mode(mode)") {{mode}}
    %li
      %button(ng-click="planner.center()") center

    
  %canvas#planner

  #form_container
    %form#buildingFactory(role="form" ng-show="planner.buildingFactory.building")
      %h4 New building
      .form-group
        %label(for="factoryTitle") Title:
        %input(ng-model="planner.buildingFactory.building.title" id="factoryTitle")

      .form-group
        %label(for="factoryNote") Note:
        %textarea(ng-model="planner.buildingFactory.building.note" id="factoryNote")

      %button.submit(ng-click="planner.buildingFactory.save()") Save
      %button.cancel(ng-click="planner.buildingFactory.cancel()") Cancel

