#town_planner(ng-controller="PlannerCtrl")
  %input(type="hidden" id="town_id" value="#{@town.id}")

  %h4 Town Planner

  =render partial: "towns/nav"
  %br

  %ul#planner_menu
    %li(ng-repeat="mode in modes")
      %button(ng-class="{active: activeMode[0] == mode[0]}" ng-click="setMode(mode[0], mode[1])") {{mode[0]}}
    %li
      %button(ng-click="planner.center()") center
    %li
      %button(ng-click="planner.zoomIn(0.2)") Zoom in
    %li
      %button(ng-click="planner.zoomIn(-0.2)") Zoom out

    
  %canvas#planner(ng-class="planner.mode")

  #tooltip(ng-show="planner.tooltip")
    .title Title: {{ planner.tooltip.title }}
    .note Note: {{ planner.tooltip.note }}
    .name Created by: {{ planner.tooltip.created_by.name }}

  #form_container
    %form#buildingFactory(role="form" ng-show="planner.buildingFactory.building")
      %h4 New building
      .form-group
        %label(for="factoryTitle") Title:
        %input(ng-model="planner.buildingFactory.building.title" id="factoryTitle")

      .form-group
        %label(for="factoryNote") Note:
        %textarea(ng-model="planner.buildingFactory.building.note" id="factoryNote")

      %button.submit(ng-click="planner.buildingFactory.save()") Save
      %button.cancel(ng-click="planner.buildingFactory.cancel()") Cancel
      %button.delete(ng-click="planner.buildingFactory.delete()" ng-show="planner.buildingFactory.mode == 'edit'") Delete

    %form#levelerForm(role="form" ng-show="leveler.formVisible")
      .form-group
        %label(for="levelerHeight") Height:
        %input(ng-model="leveler.height" id="levelerHeight")
      %button.submit(ng-click="leveler.save()") Save
      %button.cancel(ng-click="leveler.cancel()") Cancel




