#town_planner(ng-controller="PlannerCtrl")
  %input(type="hidden" id="town_id" value="#{@town.id}")

  %h4 Town Planner

  =render partial: "towns/nav"
  %br

  %ul#planner_menu
    %li(ng-repeat="mode in modes")
      %button(ng-class="{active: activeMode[0] == mode[0]}" ng-click="setMode(mode[0], mode[1])") {{mode[0]}}
    %li
      %button(ng-click="center()") center
    %li
      %button(ng-click="zoomIn(0.2)") Zoom in
    %li
      %button(ng-click="zoomIn(-0.2)") Zoom out

    
  %canvas#planner(ng-class="planner.mode")

  #tooltip(ng-show="planner.tooltip")
    .title Title: {{ planner.tooltip.title }}
    .note Note: {{ planner.tooltip.note }}
    .name Created by: {{ planner.tooltip.created_by.name }}

  #form_container
    %form#buildingFactory(role="form" ng-show="buildingFactory.formVisible")
      %h4 New building
      .form-group
        %label(for="factoryTitle") Title:
        %input(ng-model="buildingFactory.building.title" id="factoryTitle")

      .form-group
        %label(for="factoryNote") Note:
        %textarea(ng-model="buildingFactory.building.note" id="factoryNote")
      .form-group
        -#%label(for="factoryColor") Color:
        %ul
          %li.colorPicker(ng-style="{'background-color':'#'+color}" ng-repeat="color in buildingFactory.colors" ng-class="buildingFactory.getColorStatus(color)" ng-click="buildingFactory.building.color = color")

      .form-group
        %button.submit(ng-click="buildingFactory.save()") Save
        %button.cancel(ng-click="buildingFactory.cancel()") Cancel
        %button.delete(ng-click="buildingFactory.delete()" ng-show="buildingFactory.mode == 'edit'") Delete

    %form#levelerForm(role="form" ng-show="leveler.formVisible")
      .form-group
        %label(for="levelerHeight") Height:
        %input(ng-model="leveler.height" id="levelerHeight")
      %button.submit(ng-click="leveler.save()") Save
      %button.cancel(ng-click="leveler.cancel()") Cancel




