#todo_list(ng-controller="TodoList")
  %h4 Todo list for #{@town.name}

  =render partial: "towns/nav"
  %br

  %input(type="hidden" id="town_id" value="#{@todo_list.id}")
  #toggle_completed
    %input(type="checkbox" ng-model="list.hide_completed" ng-change="list.toggle_completed()")
    Hide completed

  %table#todo_list_table
    %tr
      %th Done?
      %th Title
      %th Created by
    %tr(ng-repeat="item in list.items" ng-class="list.row_class(item)")
      %td
        %input(type="checkbox" ng-model="item.completed" ng-change="list.complete(item)")
      %td.title(ng-click="list.edit(item, 'title')") {{item.title}}
      %td {{item.created_by.name}}

    %tr(ng-show="!list.items.length")
      %td(colspan="3") You have no todo's yet. Create one in the form below

  

  %form#new_todo(ng-submit="list.new_todo()")
    %input(type="text" ng-model="list.new_todo_title" placeholder="Type a todo and press enter")
    %input(type="submit" value="add")

