%h3 Life is Feudal Planner

- unless user_signed_in?
  %p
    Welcome to the Life is Feudal planner. 
    =link_to "Sign in", new_user_session_path
    or
    =link_to "sign up", new_user_registration_path
    and start planning your town!

%p
  This site allows you and your fellow townfolk to plan out your city and manage your herbs.

%p
  Currently work in progress, but here's the change log:

  %p
    %h5 29-11-2014:
    Over the last weeks I've reworked the planner. It's actually maintainable now. You can select the color of buildings. It also includes a heightmap. Simply click on the extra tool "Flatten" to select a piece of ground and set the height.
    The name of the buildings is not visible yet except when editing. I'm looking at a good way to show that and show the heightmap. Deleted buildings are not removed yet when other people are watching.
    Will fix that when I feel like it. I'm also looking at visualising the height difference aswell.

  %p
    %h5 14-11-2014:

    Finally got some time for the planner itself. Currently its rudimentary and I am gonna refactor alot of the code, but any changes shouldn't endanger your villages.
    The planner is synced so you can collaborate the planner. Every townsman can currently edit the townplanner. Restrictions might come if desired.

    %br

    Click on the build button to select that tool to add structures. There are no buildings so just draw away and look up how big some stuff is. This is probably going to change.

  %p
    %h5 5-11-2014:

    Todo list now has syncing. Click on a title to edit it. Either press enter or click next to the field to apply, or press escape to cancel.
    %br
    Also, there were some wrong links on the herbalism town list. After adding a list you'd be redirected to an error and the link after going back was also broken.
    This has been fixed.

  %p
    %h5 4-11-2014:
    
    Added a simple implementation of a todo list. This is found under towns and then todo list. You can toggle hide completed todo's if you need to.
    Being a simple implementation means that it shows everything every time and no realtime syncing is done.


