@import "bootstrap";

#new_town {

  .form-group {
    width: 300px;
  }

  input {
    &[type="text"] {
      @extend .form-control;
    }

    &[type="submit"] {
      @extend .btn;
      @extend .btn-default;
    }

  }
}



#townslist {
  position:relative;

  table {
    margin-top:20px;
    @extend .table;
  }

  .new_town_button {
    position:absolute;
    top:0px;
    right:0px;
    @extend .btn-sm;
    @extend .btn;
    @extend .btn-primary;
  }

  #accept_invite {
    @extend .form-inline;

    input {
      &[type="text"] {
        @extend .form-control;
        @extend .input-sm;
        margin:0px;
        width:200px;
      }

      &[type="submit"] {
        @extend .btn-sm;
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}

#town_herbalism_lists {

  table {
    @extend .table;
  }

  #add_herbalism_list {
    @extend .form-inline;

    input {
      &[type="text"] {
        @extend .form-control;
        @extend .input-sm;
        margin:0px;
        width:200px;
      }

      &[type="submit"] {
        @extend .btn-sm;
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }


}

#town {

  #townsmen {
    @extend .container;
    margin-top: 5px;

    table {
      @extend .table;
    }

  }

  #new_townsman {
    @extend .form-inline;

    input {
      &[type="text"] {
        @extend .form-control;
        margin:0px;
        width:200px;
      }

      &[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}
