#town_planner {
  canvas#planner {
    border: 1px solid grey;
    width: 640px;
    height: 320px;
  }

  #buildingFactory {
    position:absolute;
    top:200px;
    right:50px;

    button {
      @extend .btn;
      @extend .btn-default;
    }
  }
}
