@import "bootstrap";

#town_planner {

  canvas#planner {
    display:block;
    width:100%;
    border: 1px solid grey;

    &.camera {
      cursor: pointer;
    }
  }

  #form_container {

    form {
      padding: 5px;
      background-color:white;
      border: 1px solid black;
      position:absolute;
      top:200px;
      right:50px;

      button {
        @extend .btn;
        @extend .btn-default;
      }
      ul {
        margin: 0px;
        padding: 0px;
        width: 245px;

        li.colorPicker {
          width: 20px;
          height: 20px;
          margin: 1px;
          border-radius: 5px;
          list-style:none;
          float:left;

          &.active {
            border: 1px solid #2e3456;
          }
        }
      }       
      .form-group {
        clear:both;
      }
    }
  }
}

#tooltip {
  position: absolute;
  top: 200px;
  right: 50px;
  padding: 5px;
  background-color:white;
  border: 1px solid black;
}

#planner_menu {
  @extend .nav;
  @extend .nav-pills;
  margin-bottom: 10px;

  li {

    button {
      @extend .btn;
      @extend .btn-default;

    }
  }
}
