@import "bootstrap";

#new_town {

  .form-group {
    width: 300px;
  }

  input {
    &[type="text"] {
      @extend .form-control;
    }

    &[type="submit"] {
      @extend .btn;
      @extend .btn-default;
    }

  }
}


#town {

  #townsmen {
    @extend .container;
    margin-top: 5px;

    table {
      @extend .table;
    }

  }

  #new_townsman {
    @extend .form-inline;

    input {
      &[type="text"] {
        @extend .form-control;
        margin:0px;
        width:200px;
      }

      &[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}
