%ul.nav.nav-tabs(role="tablist")
  %li.townsmen(role="presentation")=link_to "Townsmen", town_path(@town.id)
  %li.herbalism(role="presentation")=link_to "Herbalism", town_herbalism_lists_path(@town)
  %li.todolist(role="presentation")=link_to "Todo list", town_todo_list_path(@town)

  -#%li.todolist(role="presentation")
  -#  %a Todolist (WiP)
  -#%li.city_planner(role="presentation")
  -#  %a City Planner (WiP)

:javascript
  $(document).ready( function() {
    $(".#{@active}").addClass("active");
  });
