%ul.nav.nav-tabs(role="tablist")
  %li.active(role="presentation")=link_to "Townsmen", town_path(@town.id)
  %li(role="presentation")
    %a Todolist (WiP)
  %li(role="presentation")
    %a City Planner (WiP)
  %li(role="presentation")
    %a Herbalism (WiP)
