%h4 Towns
=link_to "new town", new_town_path, {class: "btn btn-primary"}

- if @towns.empty?
  %p You are not part of any town yet. Either create a new town or ask your town founder to invite you.
- else
  %table
    %tr
      %th Name
    - @towns.each do |town|
      %tr
        %td=link_to town.name, town_path(town)
